E2E_BASE_URL=http://localhost:8090
E2E_APP_API_URL=http://localhost:8020
E2E_USER_SERVICE_URL=http://localhost:8040
E2E_USERNAME=user
E2E_PASSWORD=password
E2E_EMAIL=e2e_admin@example.com
E2E_FIRST_NAME=E2E
E2E_LAST_NAME=Admin
E2E_BOOTSTRAP=true
